<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>698D046C-476A-4A8A-8111-F76DF141B21B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24649D39-1A7A-4AEC-9E24-FA20E51DD906</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6F03BAE2-FF35-45AA-9A12-34556B0748AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>849D465B-8D8C-4561-983A-9365179E77E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>85BF3157-4376-4EEF-822C-8787964193B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD02C510-C052-4E25-A59F-0766FCACEAE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD02C510-C052-4E25-A59F-0766FCACEAE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>236E683B-9FBD-466E-A00B-B59D7B12AC68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CAD327F3-637E-4E8F-8E2A-EC47DC775A59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44FEF82B-CA69-4786-9396-6C0518669386</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD056464-6D30-4A8A-8202-E7B7AB5836D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>698D046C-476A-4A8A-8111-F76DF141B21B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ED61F954-8B44-47F9-AD2D-C236868286D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAD327F3-637E-4E8F-8E2A-EC47DC775A59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F03EB975-27A1-49C1-BB1D-42886955C024</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F03BAE2-FF35-45AA-9A12-34556B0748AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brooke Kuhlmann</string>
	<key>description</key>
	<string>Associated workflows for the Pennyworth Ruby Gem.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pennyworth</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>source ~/.bashrc
pennyworth -s -d {query}
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>698D046C-476A-4A8A-8111-F76DF141B21B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>up</string>
				<key>subtext</key>
				<string>Converts text to uppercase. Result sent to clipboard.</string>
				<key>text</key>
				<string>Pennyworth String Upcase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ED61F954-8B44-47F9-AD2D-C236868286D1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>source ~/.bashrc
pennyworth -s -u {query}
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAD327F3-637E-4E8F-8E2A-EC47DC775A59</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pennyworth String Capitalize</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>849D465B-8D8C-4561-983A-9365179E77E6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>source ~/.bashrc
pennyworth -s -l {query}
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD02C510-C052-4E25-A59F-0766FCACEAE1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>length</string>
				<key>subtext</key>
				<string>Answers the string length. Input sent to clipboard.</string>
				<key>text</key>
				<string>Pennyworth String Length</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85BF3157-4376-4EEF-822C-8787964193B7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cap</string>
				<key>subtext</key>
				<string>Capitalizes the first letter of each word. Result sent to clipboard.</string>
				<key>text</key>
				<string>Pennyworth String Capitalize</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F03EB975-27A1-49C1-BB1D-42886955C024</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pennyworth String Length</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>236E683B-9FBD-466E-A00B-B59D7B12AC68</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pennyworth String Downcase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>24649D39-1A7A-4AEC-9E24-FA20E51DD906</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>down</string>
				<key>subtext</key>
				<string>Converts text to lowercase. Result sent to clipboard.</string>
				<key>text</key>
				<string>Pennyworth String Downcase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD056464-6D30-4A8A-8202-E7B7AB5836D8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>source ~/.bashrc
pennyworth -s -c {query}
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F03BAE2-FF35-45AA-9A12-34556B0748AF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pennyworth String Upcase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>44FEF82B-CA69-4786-9396-6C0518669386</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Copyright © 2013 Alchemists.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</string>
	<key>uidata</key>
	<dict>
		<key>236E683B-9FBD-466E-A00B-B59D7B12AC68</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>24649D39-1A7A-4AEC-9E24-FA20E51DD906</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>44FEF82B-CA69-4786-9396-6C0518669386</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>698D046C-476A-4A8A-8111-F76DF141B21B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6F03BAE2-FF35-45AA-9A12-34556B0748AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>849D465B-8D8C-4561-983A-9365179E77E6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>85BF3157-4376-4EEF-822C-8787964193B7</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>BD02C510-C052-4E25-A59F-0766FCACEAE1</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>CAD327F3-637E-4E8F-8E2A-EC47DC775A59</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CD056464-6D30-4A8A-8202-E7B7AB5836D8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>ED61F954-8B44-47F9-AD2D-C236868286D1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F03EB975-27A1-49C1-BB1D-42886955C024</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.alchemists.io</string>
</dict>
</plist>
