<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.alchemists.pennyworth.workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3A7EDDC3-8686-4988-998C-9EA7A1B804D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED21B4FA-CD4A-4F43-8F17-4E6C62C2F6F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9F8D5496-FDF9-42A7-9247-60D15CCCE012</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6F8148B-CEA3-47D4-BC24-142C40A03CBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A7EDDC3-8686-4988-998C-9EA7A1B804D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brooke Kuhlmann</string>
	<key>description</key>
	<string>Associated workflows for the Pennyworth Ruby Gem.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pennyworth</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pennyworth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ED21B4FA-CD4A-4F43-8F17-4E6C62C2F6F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>p</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Displaying Pennyworth options...</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
  {
    "items": [
      {
          "uid": "aa8c8944-18f8-4165-a2a4-ab073d936dba",
          "title": "Uppercase",
          "subtitle": "Convert all characters to uppercase.",
          "arg": "pennyworth --string --upcase \"{query}\"",
          "icon": {
            "path": "string-uppercase.png"
          }
      },
      {
          "uid": "de2a88ca-298f-46a7-849a-2cfa8cbdf0d1",
          "title": "Lowercase",
          "subtitle": "Convert all characters to lowercase.",
          "arg": "pennyworth --string --downcase \"{query}\"",
          "icon": {
            "path": "string-lowercase.png"
          }
      },
      {
          "uid": "b68ce20c-5e07-469a-9d08-08203a921035",
          "title": "Titleize",
          "subtitle": "Capitalize each word and delimit with space or forward slash.",
          "arg": "pennyworth --string --titleize \"{query}\"",
          "icon": {
            "path": "string-titleize.png"
          }
      },
      {
          "uid": "1ab75806-8cf5-4f79-9094-77946cd2b8ec",
          "title": "Camelcase",
          "subtitle": "Capitalize each word and delimit with nothing or double colon.",
          "arg": "pennyworth --string --camelcase \"{query}\"",
          "icon": {
            "path": "string-camelcase.png"
          }
      },
      {
          "uid": "06ea20b0-6b54-499c-8c21-c34c9870b621",
          "title": "Snakecase",
          "subtitle": "Lowercase each word and delimit with underscore or forward slash.",
          "arg": "pennyworth --string --snakecase \"{query}\"",
          "icon": {
            "path": "string-snakecase.png"
          }
      },
      {
          "uid": "f57ef3e2-7d3a-429d-a564-9df0167047c8",
          "title": "Size",
          "subtitle": "Calculate string size.",
          "arg": "pennyworth --string --size \"{query}\"",
          "icon": {
            "path": "string-size.png"
          }
      }
    ]
  }
EOB
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Display Pennyworth options.</string>
				<key>title</key>
				<string>Pennyworth</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F6F8148B-CEA3-47D4-BC24-142C40A03CBC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH="/usr/local/bin:$PATH"
source "$HOME/.bashrc"

eval {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A7EDDC3-8686-4988-998C-9EA7A1B804D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9F8D5496-FDF9-42A7-9247-60D15CCCE012</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>= Pennyworth

Provides a collection of workflows for interacting with the Pennyworth CLI.</string>
	<key>uidata</key>
	<dict>
		<key>3A7EDDC3-8686-4988-998C-9EA7A1B804D1</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>9F8D5496-FDF9-42A7-9247-60D15CCCE012</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>ED21B4FA-CD4A-4F43-8F17-4E6C62C2F6F1</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F6F8148B-CEA3-47D4-BC24-142C40A03CBC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://www.alchemists.io</string>
</dict>
</plist>
