<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.alchemists.rails.workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>9AF7E939-D5FB-483D-927D-537571A9F4C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5AE9865-912A-42EA-804C-368DF8AB71B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5AE9865-912A-42EA-804C-368DF8AB71B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3A3916E-1338-4403-BA88-39E4D9E1B703</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brooke Kuhlmann</string>
	<key>description</key>
	<string>A collection of Ruby on Rails shortcuts.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ruby on Rails</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Local","subtitle":"Open development server."},{"title":"Routes","arg":"rails\/routes","subtitle":"View routes."},{"title":"Mailers","arg":"rails\/mailers","subtitle":"View email."}]</string>
				<key>keyword</key>
				<string>ror</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Open Rails in default browser.</string>
				<key>title</key>
				<string>Ruby on Rails</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9AF7E939-D5FB-483D-927D-537571A9F4C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A3A3916E-1338-4403-BA88-39E4D9E1B703</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{var:host}:{var:port}/{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F5AE9865-912A-42EA-804C-368DF8AB71B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>= Overview

Provides a collection of Ruby on Rails utilities when interacting with the application locally.</string>
	<key>uidata</key>
	<dict>
		<key>9AF7E939-D5FB-483D-927D-537571A9F4C1</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A3A3916E-1338-4403-BA88-39E4D9E1B703</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F5AE9865-912A-42EA-804C-368DF8AB71B0</key>
		<dict>
			<key>note</key>
			<string>url</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>host</key>
		<string>http://localhost</string>
		<key>port</key>
		<string>3000</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://www.alchemists.io</string>
</dict>
</plist>
