<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>7C9DFBD8-8096-4B73-A181-1FBCD8EE12C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F7FA8C0-A59D-4242-A038-FE9242C8793A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9B00D8C9-CD83-45B2-9AD3-6CA60CBB5F00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C9DFBD8-8096-4B73-A181-1FBCD8EE12C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brooke Kuhlmann</string>
	<key>description</key>
	<string>Converts text to lowercase. Result sent to clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pennyworth String Downcase</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>source ~/.bashrc
pennyworth -s -d {query}
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C9DFBD8-8096-4B73-A181-1FBCD8EE12C6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>String Downcase</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F7FA8C0-A59D-4242-A038-FE9242C8793A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>down</string>
				<key>subtext</key>
				<string>Converts text to lowercase. Result sent to clipboard.</string>
				<key>text</key>
				<string>String Downcase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B00D8C9-CD83-45B2-9AD3-6CA60CBB5F00</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Copyright © 2013 Red Alchemist.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</string>
	<key>uidata</key>
	<dict>
		<key>4F7FA8C0-A59D-4242-A038-FE9242C8793A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7C9DFBD8-8096-4B73-A181-1FBCD8EE12C6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9B00D8C9-CD83-45B2-9AD3-6CA60CBB5F00</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.redalchemist.com</string>
</dict>
</plist>
