<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>pmset -g batt | grep Internal | awk '{print $3",", $4, $5}' | sed 's/;//'</string>
	<key>disabled</key>
	<false/>
	<key>escapedollar</key>
	<true/>
	<key>escapequery</key>
	<true/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>batteryt</string>
	<key>logging</key>
	<false/>
	<key>multifileargs</key>
	<false/>
	<key>parameter</key>
	<integer>1</integer>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Displays time until battery is completely depleated.</string>
	<key>title</key>
	<string>Battery Time</string>
</dict>
</plist>
